<!DOCTYPE html>
<html lang="en">
    <head>
      <title>邮寄信息</title>
      <meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
<meta name="format-detection" content="telephone=no"/>
<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<script type="text/javascript" src="__APIROOT__/viewJs/api/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__APIROOT__/viewJs/api/js/layer/layer.js"></script>
<script type="text/javascript" src="__APIROOT__/viewJs/api/js/textMiddle.js"></script>
<script type="text/javascript" src="__APIROOT__/viewJs/api/carInsurance/iscroll.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/velocity/1.4.1/velocity.min.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.0.js"></script>
<link rel="stylesheet" href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css"/>

<link rel="stylesheet" href="__APIROOT__/css/api/carInsurance/common.css"/>

    <link href="/Public/static/packaged-assets/Xiaochengxu/css/CarInsurance\mailAddress.90739621.css" rel="stylesheet"><script type="text/javascript" src="/Public/static/packaged-assets/Xiaochengxu/./js/vendor.63bfe990.js"></script><script type="text/javascript" src="/Public/static/packaged-assets/Xiaochengxu/js/CarInsurance\mailAddress.ad148b43.js"></script></head>
    <body>
        <div id="second_hand">
            <div class="mask"></div>
            <!-- <div id="tran-color"></div> -->
            <header class='headerw'>
                <div class="header_con">
                    <div class="left">
                        <img src="/Public/static/packaged-assets/Xiaochengxu/img/back_arrow-e95377d1.png" width="12" @click="close"/>
                    </div>
                    <div class="middle">
                        <h1>邮寄信息</h1>
                    </div>
                    <div class="right">
                    </div>
                </div>
            </header>
            <div class="con">
                <include file="CarInsurance/header-layout" bgColor="bg-yellow" bdColor="bd-yellow" fontColor="font-white" fontpcolor="font-yellow"/>
                <form id="Fm" action=".">
                    <input type="hidden" name="license_number"   value="<{$license_number}>"/>
                    <input type="hidden" name="order_id" value="<{$order_id}>" />
                    <input type="hidden" name="session_id" value="<{$session_id}>" />
                    <input type="hidden" name="search_type" value="<{$search_type}>" />
                    <div class="con_body">
                        <dl class="con_body_item">
                            <dt>收件人:</dt>
                            <dd>
                            <!-- <input type="text" id="mail_name" name="mail_name"  placeholder="请输入收件人姓名"  required value="<{$mail_name}>" maxLength="15"/> -->
                            <textarea name="mail_name" id="mail_name" placeholder="请输入收件人姓名" maxLength="15" required><{$mail_name}></textarea>
                            <img src="/Public/static/packaged-assets/Xiaochengxu/img/chacha-3a34f07b.png" width="15"/>
                            </dd>
                        </dl>
                        <dl class="con_body_item">
                            <dt>手机号:</dt>
                            <dd>
                            <input type="tel" id="mail_phone" name="mail_phone" placeholder="请输入手机号"  required value="<{$mail_phone}>" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" maxLength="11"/>
                            <img src="/Public/static/packaged-assets/Xiaochengxu/img/chacha-3a34f07b.png" width="15"/>
                            </dd>
                        </dl>
                        <dl class="con_body_item clearfix" id="order_addr">
                            <dt>邮寄地址:</dt>
	                        <dd>
                                <if condition="$mail_addr eq ''">
    	                            <textarea name="mail_addr" id="addr" placeholder="请输入常用地址" required></textarea>
                                <else/>
    	                            <textarea name="mail_addr" id="addr" placeholder="请输入常用地址" required><{$mail_addr}></textarea>
                                </if>
                                <img src="/Public/static/packaged-assets/Xiaochengxu/img/chacha-3a34f07b.png" width="15"/>
                            </dd>
                            <if condition="$address neq ''">
                                <div class="address">
                                    <div class="add-con">
                                        <img src="/Public/static/packaged-assets/Xiaochengxu/img/small1-360040f4.png">
                                        <p id="shopAddre"><{$address}>（<{$shop_name}>）</p>
                                    </div>
                                </div>
                            </if>
                        </dl>
                        <!-- 北京地区需要电子邮箱 -->
                        <if condition="$openCity neq 15">
                            <dl class="con_body_item email">
                                <dt data-city="<{$openCity}>">电子邮箱:</dt>
                                <dd>
                                    <input type="email" id="mail_box" name="mail_box" placeholder="请输入车主的电子邮箱地址" required/>
                                    <img src="/Public/static/packaged-assets/Xiaochengxu/img/chacha-3a34f07b.png" width="15"/>
                                </dd>
                            </dl>
                        </if>
                    </div>
                </form>
                <if condition="$openCity neq 15">
                    <section>*此邮箱作为车主接收和查询电子保单使用，务必认真填写</section>
                </if>
            </div>
            <div class="foot_button" type="button" onclick="submitFm();">
                <span>下一步</span>
                <span><img src="/Public/static/packaged-assets/Xiaochengxu/img/w-b-de850eaa.png"/></span>
            </div>
        </div>
        <script>
            function checkMobile(mobile){
                if(!/^(1[0-9])\d{9}$/i.test(mobile)){
                    return false;
                }else{
                    return true;
                }
            }
            function checkMail(mail) {
                return /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(mail)
                            ? true
                                : false;
            }
            function hint (prompt) {
                layer.open({
                    content: prompt,
                    time: 2
                });
                return false;
            }

            function submitFm(){
                var mail_name=$('#mail_name').val();
                var mail_phone=$('#mail_phone').val();
                var mail_addr=$('#addr').val();
                var mail_box=$('#mail_box').val();

                var namenumber=mail_name.length;
                var check_phone=checkMobile(mail_phone);
                var check_name = /^[\u4e00-\u9fa5]+$/.test(mail_name);
                var check_box = checkMail(mail_box);

                if(mail_name=='' || mail_name== undefined){
                    return hint('请输入收件人姓名');
                }
                if(namenumber<2 || namenumber>15){
                    return hint('收件人姓名限定2~15位置');
                }
                if(!check_name){
                    return hint('名字只能为汉字');
                }

                if(mail_phone=='' || mail_phone== undefined){
                    return hint('请输入手机号');
                }

                if(!check_phone){
                    return hint('手机号格式不正确');
                }
                if(mail_addr=='' || mail_addr== undefined){
                    return hint('请输入邮寄地址');
                }
                var openCity="<{$openCity}>";
                if(openCity != 15){
                    if(mail_box=='' || mail_box== undefined){
                        return hint('请输入电子邮箱地址');
                    }
                    if(!check_box){
                        return hint('电子邮箱格式不正确');
                    }
                }

                // layer.open({type: 2,shadeClose:false});/*过渡*/
                $.post('<{:U(mailAddress)}>',$('#Fm').serialize(),function(data){

                	// layer.closeAll();/*关闭过渡*/
                    if(data.code == '0'){

                        location.href = '<{:U(orderConfirm)}>?'+'order_id=<{$order_id}>&session_id=<{$session_id}>&license_number=<{$license_number}>&search_type=<{$search_type}>';
                    }else{
                    	return hint('信息提交失败');
                    }
                },'json');
            }
        </script>
        <script type="text/javascript">
            $(function () {

                autoTextarea($("#addr")[0]);//调用插件,textarea换行高度自增加
            });

            $('#addr').on({
                focus: function(){
                    if(this.value.trim()==''){
                        $('.address').fadeIn('fast');
                    }
                },
                blur: function () {
                    $('.address').fadeOut('fast');
                },
                input: function () {

                    if(this.value.trim()==''){
                        this.value = '';
                        $('.address').fadeIn('fast');
                    }else{
                        $('.address').fadeOut('fast');
                    }
                }
            });

            $('dd input, dd textarea').on({
                focus: function () {
                    if ($(this).val() != '') {
                        $(this).next().fadeIn(150);
                    }
                },
                blur: function () {
                    $(this).next().fadeOut(150);
                },
                input: function () {
                    if ($(this).val() == '') {
                        $(this).next().fadeOut(150);
                    }else {
                        $(this).next().fadeIn(150);
                    }
                }
            });

            $('.address').click(function(){/*提示的 地址*/
                $('#addr').val($('#shopAddre').html());
                $(this).hide();
                autoTextarea($("#addr")[0]);//调用插件,高度自适应
            });

            $('.con_body_item dd img').click(function (e) {/*输入框后面 叉号*/
                e.stopPropagation();
                if ($(this).prev()[0].id == 'addr') {
                    $(this).prev().css({height: ''});
                    $('.address').fadeIn('fast');
                }
                $(this).fadeOut(150).prev().val('').focus();
            });
        </script>
    </html>
