<!DOCTYPE html>
<html lang="en">
<head>
  <title>违章详情</title>
  <%- include src/components/header/ViolationHeader %>
</head>
<body id="violationDetail">
    <div id="all-box" v-cloak>
        <header></header>
        <!-- 违章详情 content -->
        <ul id="wrapper" class="con">
            <li>
                <section :style="{background: item.Degree > 0&&'#F8F8F8'}">
                    <div class="address">
                        <template v-if="item.LocationName.length>3">
                            {{ '['+item.LocationName+']'+item.Location }}
                        </template>
                        <template v-else>
                            <span class="city" v-bind:style="{left: city_left}">{{ '['+item.LocationName+']' }}</span>
                            {{ item.Location }}
                        </template>
                    </div>
                    <div class="time"><span class="c-A1">时间：</span>{{ item.Time }}</div>
                    <div class="reason">
                        <span class="c-A1">原因：</span><span class="reason-s">{{ item.Reason }}</span>
                    </div>
                    <div class="code">
                        <span class="c-A1">代码：</span>{{ item.Code }}
                    </div>
                    <div class="fine">
                        <span class="c-A1">罚款：</span>{{ '¥ '+(item.count||'0.00') }}
                        <template v-if="item.Degree > 0">
                          <span class="c-A1">扣分：</span>{{ (item.Degree||0)+' 分' }}
                        </template>
                    </div>
                    <div class="hint" v-if="item.Degree > 0">{{ item.CanprocessMsg }}</div>
                </section>
            </li>
        </ul>
        <ul class="foot_button" @click="clk_submit" v-show="is_support_online_pay">
            <li role="button">去办理</li>
        </ul>
    </div>
    <div class="d-n" id="data"><{$item}></div>
</body>
</html>
