body{
    background:#F0F0F0 ;
}
input{
    padding: 0;
}
.header_con .left{
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding-top: 0;
}
.header_con .left img{
    float: left;
}
.container{
	padding: 0 10px;
	overflow:hidden;
    color: #a1a1a1;
}
.container h6{
    margin: 0.7rem 0;
    font-weight: 400;
    font-size: 0.923rem;
}

.input-cell{
    position:relative;
	background:white;
    padding-right: 3.2%;
    padding-left: 6%;
    height:3.846rem;
    font-size: 1rem;
}
.input-cell:nth-child(1):before, .input-cell:nth-child(2):before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 94%;
    background: #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    pointer-events: none;
}
.input-cell:nth-last-child(1){
    margin-top: 10px;
}
.input-label{
    position: absolute;
    left: 6%;
    z-index: 11;
    transform-origin: 0;
    -webkit-transform-origin: 0;

    top: 30%;
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
.up{
    top: 1%;
    transform: scale(.846);
    -webkit-transform: scale(.846);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
.input-box{
    width: 90.8%;
    height: 40%;
    line-height: 40%;
    outline:0;
    border:0;
    color:#595959;
    position: absolute;
    left: 6%;
    top: 45%;
    z-index: 10;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #A1A1A1;
	font-size:0.923rem;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #A1A1A1;
	font-size:0.923rem;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #A1A1A1;
	font-size:0.923rem;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #A1A1A1;
	font-size:0.923rem;
}

.prompt {
    padding-top: 8px;
    font-size: 0.769rem;
    color: #A1A1A1;
    text-align: center;
}

.addBank{
	left:11px;
	right:11px;
	position:absolute;
	bottom:10px;
	background:#FFBB00;
	height:19px;
	text-align:center;
	color:white;
	padding:15px 0;
    z-index: 12;
}

.comfirm{
	position:relative;
	display:inline-block;
}
.comfirm img{
	position:absolute;
	left:-20px;
	top:2px;
}
