<!DOCTYPE html>
<html lang="en">
<head>
  <title>支付成功</title>
  <meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
<meta name="format-detection" content="telephone=no"/>
<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<script type="text/javascript" src="__APIROOT__/viewJs/api/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__APIROOT__/viewJs/api/js/layer/layer.js"></script>
<script type="text/javascript" src="__APIROOT__/viewJs/api/js/textMiddle.js"></script>
<script type="text/javascript" src="__APIROOT__/viewJs/api/carInsurance/iscroll.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/velocity/1.4.1/velocity.min.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.0.js"></script>
<link rel="stylesheet" href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css"/>

<link rel="stylesheet" href="__APIROOT__/css/api/common.css"/>

<link href="/Public/static/packaged-assets/Xiaochengxu/css/CarViolation\paySuccess.d1149888.css" rel="stylesheet"><script type="text/javascript" src="/Public/static/packaged-assets/Xiaochengxu/./js/vendor.63bfe990.js"></script><script type="text/javascript" src="/Public/static/packaged-assets/Xiaochengxu/js/CarViolation\paySuccess.4857b618.js"></script></head>
<body>
    <div id="all-box" v-cloak>
        <header></header>

        <ul id="wrapper" class="con">
            <li class="paySuccess-head">
                <div><img src="/Public/static/packaged-assets/Xiaochengxu/img/pay_success-b8d38d08.png"></div>
                <div class="c-36">支付成功</div>
                <div class="c-A1">您还可以在微信的服务通知中查看此交易详细信息</div>
            </li>
            <li class="paySuccess-info">
                <section class="order-sn">
                    <div class="c-A1">
                        {{ item.violation_order_id }}
                    </div>
                    <div class="c-A1">
                        {{ item.add_time }}
                    </div>
                </section>
                <section class="order-info">
                    <div class="license-number">{{ item.license_number }}</div>
                    <div class="fine-info">
                        <div>
                            <span class="c-A1 t-a-r">违章：</span>
                            <span class="c-59">{{ item.num }}</span>
                        </div>
                        <div>
                            <span class="c-A1 t-a-r">罚款：</span>
                            <span class="c-59">{{ '¥ '+(item.fine||'0.00') }}</span>
                        </div>
                        <!-- <div>
                            <span class="c-A1 t-a-r">扣分：</span>
                            <span class="c-59">{{ (item.degree||0)+' 分' }}</span>
                        </div> -->
                        <div>
                            <span class="c-A1 t-a-r">服务费：</span>
                            <span class="c-59">{{ '¥ '+(item.poundage||'0.00') }}</span>
                        </div>
                    </div>
                    <div class="payment-amount">
                        <span class="c-A1">共支付</span>
                        <span class="yellow">{{ '¥'+(item.amount||'0.00') }}</span>
                    </div>
                </section>
            </li>
            <!-- <li role="button" @click="BackHome">完成</li> -->
        </ul>

    </div>
    <div id="data" class="d-n"><{$item}></div>
<body>
</html>
